<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
## 과제 4-2 


import pandas as pd 
from sklearn.model_selection import train_test_split
X = pd.read_csv('../data/빅분기_X_train.csv',encoding='cp949')
y = pd.read_csv('../data/빅분기_y_train.csv',encoding='cp949')

In [14]:
# 빅분기 X_train, 빅분기 y_train 데이터의 cust_id를 인덱스로 설정하세요 
X = X.set_index('cust_id')

In [15]:
y = y.set_index('cust_id')

In [16]:
# X_train과 y_train데이터를 y값을 기준으로 층화추출하여 7:3으로 데이터를 나누세요 (X_train, X_val, y_train,y_val)
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size = 0.3, stratify = y, random_state=1)

In [19]:
X_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
cust_id,,,,,,,,,
2126,7004000,5814000,NaN,시티웨어,강남점,2,1.000000,0.500000,46
211,2495400,1875000,NaN,수산품,본 점,1,7.000000,1.000000,0
2234,562500,427500,NaN,가공식품,강남점,1,2.000000,0.000000,0
3152,74918300,11232000,708000.0,건강식품,본 점,29,1.655172,0.083333,12
168,292855700,48507000,50000.0,기타,노원점,51,2.803922,0.237762,7
...,...,...,...,...,...,...,...,...,...
1321,150320870,11800000,3517000.0,농산물,분당점,152,6.282895,0.335079,2
2318,217505700,27864000,NaN,디자이너,본 점,17,2.294118,0.051282,13
992,6643300,3996000,NaN,농산물,부산본점,3,3.000000,0.222222,74
2308,191513330,30316000,27808000.0,기타,분당점,38,6.736842,0.140625,9
1626,1715219490,706629000,11423000.0,가공식품,본 점,162,2.425926,0.371501,2

In [17]:
# X_train과 X_val의 수치형 변수들만 StandardScaler를 이용하여 표준화 시키세요. 
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     3500 non-null   int64
 1   최대구매액    3500 non-null   int64
 2   환불금액     1205 non-null   float64
 3   주구매상품    3500 non-null   object
 4   주구매지점    3500 non-null   object
 5   내점일수     3500 non-null   int64
 6   내점당구매건수  3500 non-null   float64
 7   주말방문비율   3500 non-null   float64
 8   구매주기     3500 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 273.4+ KB

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train.drop(labels = ['주구매상품','주구매지점'],axis = 1))

StandardScaler()